In [1]:
# Dependencies
import pandas as pd
import requests
import json

In [15]:
ccvi = pd.read_csv('../resources/ccvi(nulls).csv')
ccvi

,FIPS,stateName,countyName,ccvi,theme1,theme2,theme3,theme4,theme5,theme6,theme7
0,1001020100,ALABAMA,Autauga,0.441972,0.458336,0.377478,0.170811,0.841617,0.966294,0.209805,0.287591
1,1001020200,ALABAMA,Autauga,0.742619,0.562935,0.584587,0.683826,0.768947,0.982399,0.209805,0.427810
2,1001020300,ALABAMA,Autauga,0.778072,0.245094,0.645024,0.472226,0.863762,0.953086,0.724817,0.439041
3,1001020400,ALABAMA,Autauga,0.362727,0.023280,0.370119,0.192050,0.977978,0.894654,0.209805,0.425573
4,1001020500,ALABAMA,Autauga,0.816600,0.319725,0.421440,0.764060,0.753240,0.978307,0.749454,0.497597
...,...,...,...,...,...,...,...,...,...,...,...
72832,56043000200,WYOMING,Washakie,0.193098,0.632400,0.106362,0.792014,0.669875,0.126091,0.259923,0.008196
72833,56043000301,WYOMING,Washakie,0.288511,0.536803,0.358751,0.539916,0.400654,0.199599,0.259923,0.589599
72834,56043000302,WYOMING,Washakie,0.574666,0.804595,0.349800,0.613380,0.701398,0.137185,0.815509,0.273972
72835,56045951100,WYOMING,Weston,0.112481,0.476381,0.238316,0.834326,0.559188,0.149020,0.037122,0.008224
72836,56045951300,WYOMING,Weston,0.317812,0.621751,0.291037,0.740620,0.483470,0.234197,0.442149,0.152109

In [16]:
# drop the null rows
ccvi = ccvi.dropna()
ccvi.set_index('FIPS', inplace=True)
ccvi

,stateName,countyName,ccvi,theme1,theme2,theme3,theme4,theme5,theme6,theme7
FIPS,,,,,,,,,,
1001020100,ALABAMA,Autauga,0.441972,0.458336,0.377478,0.170811,0.841617,0.966294,0.209805,0.287591
1001020200,ALABAMA,Autauga,0.742619,0.562935,0.584587,0.683826,0.768947,0.982399,0.209805,0.427810
1001020300,ALABAMA,Autauga,0.778072,0.245094,0.645024,0.472226,0.863762,0.953086,0.724817,0.439041
1001020400,ALABAMA,Autauga,0.362727,0.023280,0.370119,0.192050,0.977978,0.894654,0.209805,0.425573
1001020500,ALABAMA,Autauga,0.816600,0.319725,0.421440,0.764060,0.753240,0.978307,0.749454,0.497597
...,...,...,...,...,...,...,...,...,...,...
56043000200,WYOMING,Washakie,0.193098,0.632400,0.106362,0.792014,0.669875,0.126091,0.259923,0.008196
56043000301,WYOMING,Washakie,0.288511,0.536803,0.358751,0.539916,0.400654,0.199599,0.259923,0.589599
56043000302,WYOMING,Washakie,0.574666,0.804595,0.349800,0.613380,0.701398,0.137185,0.815509,0.273972
56045951100,WYOMING,Weston,0.112481,0.476381,0.238316,0.834326,0.559188,0.149020,0.037122,0.008224
56045951300,WYOMING,Weston,0.317812,0.621751,0.291037,0.740620,0.483470,0.234197,0.442149,0.152109

In [18]:
ccvi.to_csv(r'../resources/ccvi_nonulls.csv')

In [2]:
# URL for GET requests to retrieve vehicle data
url = "https://data.cdc.gov/resource/n8mc-b4w4.json?$limit=100000&$offset=0&death_yn=No"


# Pretty print JSON for all launchpads
response = requests.get(url).json()
print(json.dumps(response, indent=4, sort_keys=True))

cases = pd.DataFrame(response)
cases

cases = cases.loc[cases['county_fips_code'] != 'NA', :]
cases

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,case_positive_specimen,underlying_conditions_yn,case_onset_interval
0,2020-11,KY,21,MUHLENBERG,21177,18 to 49 years,NA,NA,NA,Missing,Missing,Laboratory-confirmed case,Missing,No,Missing,No,NaN,NaN,NaN
1,2021-01,NY,36,COLUMBIA,36021,0 - 17 years,Female,NA,NA,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,0.0,NaN,NaN
2,2021-03,NC,37,COLUMBUS,37047,0 - 17 years,Female,NA,NA,Missing,Missing,Probable Case,Unknown,Unknown,Unknown,No,0.0,NaN,NaN
3,2021-02,NH,33,COOS,33007,0 - 17 years,Female,NA,NA,Missing,Missing,Laboratory-confirmed case,Asymptomatic,Unknown,Unknown,No,NaN,Yes,NaN
4,2020-12,MN,27,CROW WING,27035,18 to 49 years,Female,Unknown,Missing,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,2021-03,NY,36,WASHINGTON,36115,18 to 49 years,Male,White,Non-Hispanic/Latino,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,Missing,No,NaN,NaN,0.0
99995,2021-02,VT,50,WASHINGTON,50023,50 to 64 years,Male,White,Non-Hispanic/Latino,Missing,Yes,Laboratory-confirmed case,Symptomatic,No,Missing,No,2.0,NaN,0.0
99996,2021-04,NH,33,SULLIVAN,33019,65+ years,Male,White,Non-Hispanic/Latino,Missing,Missing,Laboratory-confirmed case,Asymptomatic,Unknown,Unknown,No,NaN,NaN,NaN
99998,2020-08,OH,39,MIAMI,39109,NA,NA,NA,NA,Contact tracing of case patient,Missing,Laboratory-confirmed case,Asymptomatic,No,No,No,NaN,NaN,NaN
99999,2020-07,MN,27,WINONA,27169,NA,NA,NA,NA,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,0.0,NaN,NaN

In [8]:
# ccvi['FIPS'] = ccvi['FIPS'].apply(lambda x: str(x)[:5])
# ccvi = pd.DataFrame(ccvi.groupby('FIPS')['ccvi'].mean())
# ccvi = ccvi.reset_index()
# ccvi = ccvi.rename(columns={'FIPS': 'county_fips_code'})

# ccvi

,FIPS,stateName,countyName,ccvi,theme1,theme2,theme3,theme4,theme5,theme6,theme7
0,1001020100,ALABAMA,Autauga,0.441972,0.458336,0.377478,0.170811,0.841617,0.966294,0.209805,0.287591
1,1001020200,ALABAMA,Autauga,0.742619,0.562935,0.584587,0.683826,0.768947,0.982399,0.209805,0.427810
2,1001020300,ALABAMA,Autauga,0.778072,0.245094,0.645024,0.472226,0.863762,0.953086,0.724817,0.439041
3,1001020400,ALABAMA,Autauga,0.362727,0.023280,0.370119,0.192050,0.977978,0.894654,0.209805,0.425573
4,1001020500,ALABAMA,Autauga,0.816600,0.319725,0.421440,0.764060,0.753240,0.978307,0.749454,0.497597
...,...,...,...,...,...,...,...,...,...,...,...
72832,56043000200,WYOMING,Washakie,0.193098,0.632400,0.106362,0.792014,0.669875,0.126091,0.259923,0.008196
72833,56043000301,WYOMING,Washakie,0.288511,0.536803,0.358751,0.539916,0.400654,0.199599,0.259923,0.589599
72834,56043000302,WYOMING,Washakie,0.574666,0.804595,0.349800,0.613380,0.701398,0.137185,0.815509,0.273972
72835,56045951100,WYOMING,Weston,0.112481,0.476381,0.238316,0.834326,0.559188,0.149020,0.037122,0.008224
72836,56045951300,WYOMING,Weston,0.317812,0.621751,0.291037,0.740620,0.483470,0.234197,0.442149,0.152109

In [58]:
cases = pd.merge(cases, ccvi, on='county_fips_code')
cases

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,case_positive_specimen,underlying_conditions_yn,ccvi
0,2020-12,OH,39,VAN WERT,39161,0 - 17 years,NA,NA,NA,0.0,Clinical evaluation,Unknown,Laboratory-confirmed case,Symptomatic,No,Missing,No,NaN,NaN,0.215575
1,2020-12,OH,39,VAN WERT,39161,0 - 17 years,NA,NA,NA,0.0,Clinical evaluation,Yes,Laboratory-confirmed case,Symptomatic,No,No,No,NaN,NaN,0.215575
2,2020-12,OH,39,VAN WERT,39161,0 - 17 years,NA,NA,NA,0.0,Clinical evaluation,Unknown,Laboratory-confirmed case,Symptomatic,No,No,No,NaN,NaN,0.215575
3,2020-12,OH,39,VAN WERT,39161,0 - 17 years,NA,NA,NA,0.0,Clinical evaluation,Missing,Laboratory-confirmed case,Symptomatic,No,No,No,NaN,NaN,0.215575
4,2020-12,OH,39,VAN WERT,39161,0 - 17 years,NA,NA,NA,0.0,Contact tracing of case patient,Unknown,Probable Case,Symptomatic,No,Missing,No,NaN,NaN,0.215575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88420,2020-08,IA,19,POTTAWATTAMIE,19155,18 to 49 years,Female,White,Non-Hispanic/Latino,0.0,Contact tracing of case patient,Yes,Laboratory-confirmed case,Symptomatic,No,No,No,0.0,NaN,0.356997
88421,2020-08,IA,19,POTTAWATTAMIE,19155,18 to 49 years,Female,White,Non-Hispanic/Latino,0.0,Contact tracing of case patient,Yes,Laboratory-confirmed case,Symptomatic,No,No,No,0.0,NaN,0.356997
88422,2020-07,IN,18,PORTER,18127,50 to 64 years,NA,NA,NA,NaN,Missing,Missing,Laboratory-confirmed case,Missing,No,Missing,No,NaN,NaN,0.394230
88423,2020-07,IN,18,PORTER,18127,50 to 64 years,NA,NA,NA,NaN,Missing,Missing,Laboratory-confirmed case,Missing,No,Missing,No,NaN,NaN,0.394230
88424,2020-12,PA,42,SOMERSET,42111,18 to 49 years,Female,Unknown,Unknown,NaN,Missing,Missing,Probable Case,Unknown,No,Unknown,No,NaN,NaN,0.328226

# Quantifying Linear Regression

Create a model to quantify

In [1]:
# Import dependencies
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression

# Generate some data
X, y = make_regression(n_samples=20, n_features=1, random_state=0, noise=4, bias=100.0)

# Create a linear model
model = LinearRegression()

# Fit (Train) our model to the data
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

## Quantifying our Model

* Mean Squared Error (MSE)

* R2 Score

There are a variety of ways to quantify the model, but MSE and R2 are very common

In [2]:
from sklearn.metrics import mean_squared_error, r2_score

# Use our model to predict a value
predicted = model.predict(X)

# Score the prediction with mse and r2
mse = mean_squared_error(y, predicted)
r2 = r2_score(y, predicted)

print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R2 ): {r2}")

Mean Squared Error (MSE): 11.933040779746149
R-squared (R2 ): 0.903603363418708

A "good" MSE score will be close to zero while a "good" [R2 Score](https://en.wikipedia.org/wiki/Coefficient_of_determination) will be close to 1.

R2 Score is the default scoring for many of the Sklearn models

In [4]:
# Overall Score for the model
model.score(X, y)

0.90360336341870795

## Validation

We also want to understand how well our model performs on new data. 

One approach for this is to split your data into a training and testing dataset.

You fit (train) the model using training data, and score and validate your model using the testing data.

This train/test splitting is so common that Sklearn provides a mechanism for doing this.

## Testing and Training Data

In order to quantify our model against new input values, we often split the data into training and testing data. The model is then fit to the training data and scored by the test data. Sklean pre-processing provides a library for automatically splitting up the data into training and testing

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

Train the model using the training data

In [6]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

And score the model using the unseen testing data

In [7]:
model.score(X_test, y_test)

0.92525224350441038

## Your Turn!